:root {
    --primary-color: #28A745;
    --secondary-color: #FFCA02;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    box-shadow: 0 3px 3px 0 rgba(30, 233, 111, 0.15), 0 3px 1px -2px rgba(30, 233, 91, 0.2), 0 1px 5px 0 rgba(30, 233, 91, 0.15);
}

.btn-primary:hover {
    box-shadow: 0 3px 3px 0 rgba(30, 233, 111, 0.4), 0 3px 1px -2px rgba(30, 233, 91, 0.4), 0 1px 5px 0 rgba(30, 233, 91, 0.4);
}
